/* *{
border: 1px solid red;
} */

.container-form{
  padding: 0 20%;
  text-align: left;
}

.label-form, .title-form{
  padding: 0.5%;
}

.title-form{
  text-align: left;
  margin-left: 20.5%;
}

.question-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 1%;
  margin:2%;
  background-color: white;
}

.form-back > h2{
  font-weight: 700;
}


/* retira os destaques dos itens */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  outline: 0 none;
}

.form-back{
  background: url('https://res.cloudinary.com/dqtp9um44/image/upload/v1558645302/back-img-form_lls9mx.png');
  background-size: cover;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: rgb(56, 133, 127);
  background-color: rgb(56, 133, 127);;
}

@media (max-width: 376px) {
  .question-form {
    padding: 2%;
    width: 250px;
    margin:2%;
  }

  .container-form{
    padding: 0 15%;
    text-align: left;
  }
}

.border-input{
  border: 1px solid rgba(56, 133, 127, 0.26);
}