.search-row > h6{
    font-size: 40px;
    color: white;
    padding-top: 80px;
}

.search-row {
  background-color: rgba(56, 133, 127);
  /* margin-bottom: 0 !important; */
  height: 380px;
  background-image: url('https://res.cloudinary.com/dqtp9um44/image/upload/v1558580356/cars/background-green1_qxccdh.png');
  background-position: center;
  border: 1px solid rgba(56, 133, 127);

}
  
  .search-tag {
    margin: 75px;
  }
  
  .search{
    width: 420px;
    height: 50px;
    border-radius: 10px;
    
  }
  /* 
  *{
    border: 1px solid red;
  } */