

.footer{
    background-color: rgb(52, 58, 64);
    color: whitesmoke;
    height:155px;
    color: white;
    /* margin-top: 1%; */
    display: flex;
    justify-content: flex-end;
}

.footer > div {
  padding: 50px;
}

@media (max-width: 376px) {
  .footer{
    height: 110px; 
  }
  .footer > div {
    padding: 30px 140px 0 0;
    
  }
   
}
