

.footer{
    background-color: rgb(52, 58, 64);
    color: whitesmoke;
    height:100%;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 1%;
}

.copyright{
    text-align: center;
    color: whitesmoke;
    padding-top: 70px;
}

