.marg {
    margin-bottom: 0 !important;
}

.footer{
    background-color: black;
    height: 200px;
    color: white;
    /* width:42px; */
    /* height:12px; */
    /* border:0; */
    /* float: right; */
    /* margin: 0 25px 22px; */
}

