body{
    background-color: white;
}

.card-img-top {
    width: 45%;
    /* margin-left: 21%; */
}

.block-market{
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}

.card-body > h4 {
    text-align: center;
    font-weight: 700;
}
.card-body > p {
    text-align: center;
}

