*{border: 1px solid red}

.cards {
   margin: 20px auto;
}

.card-size {
    width: 25%;
    padding: 30px 10px 0 10px;
    border: 2px solid rgba(68, 162, 156, 0.623);
    border-radius: 30px;
    background-color:  rgb(217, 228, 225);
}

.container {
    display: flex;
    justify-content: space-between;
}

.card-img-top {
    width: 60%;
    margin-left: 20%;
}