.quiz {
  height: 380px;
}

.quiz > p {
  font-size: 30px;
  text-align: center;  
padding: 120px 0 40px 0;
}

.quiz > input {
  font-size: 25px;
}
/* 
*{
  border: 1px solid red;
} */

.btn-desk {
  background-color: rgb(56, 133, 127);
  border: rgb(56, 133, 127);
  color: white;
  margin-left:15px; 
}

@media (max-width: 376px) {
  
  .quiz > p {
    font-size: 16px;
    text-align: justify;  
    padding: 60px 40px 20px 40px;
  }
  .quiz {
    height: 250px;
  }
}