
.col-pad{
  padding: 30px;
}

.switches {
  text-align: left;
}

.buttons {
  padding: 30px;
  display: flex;
  justify-content: center;
}


.row-car{
  margin: 3% 5% 0 5%;
  padding: 2% 0 0 1%;
}

.title-add {
  margin: 2%;
}